<p id="notice"><%= notice %></p>


<h3 >Listado de Autores</h3>

<%= link_to 'Nuevo Autor', new_autor_path %>

<br>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @autors.each do |autor| %>
      <tr>
        <td><%= autor.nombre %></td>
        <td><%= link_to 'Ver Autor', autor %></td>
        <td><%= link_to 'Editar', edit_autor_path(autor) %></td>
        <td><%= link_to 'Eliminar', autor, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Atrás', welcome_index_path %>


<br>
