<p id="notice"><%= notice %></p>

<h3>Listado de Libros</h3>

<%= link_to 'Nuevo Libro', new_libro_path %>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Isbn</th>
      <th>Editorial</th>
      <th>Autor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libros.each do |libro| %>
      <tr>
        <td><%= libro.nombre %></td>
        <td><%= libro.isbn %></td>
        <td><%= libro.editorial %></td>
        <%- a= libro.autor %>
        <td><%= a.nombre %></td>
        <td><%= link_to 'Ver Libro', libro %></td>
        <td><%= link_to 'Editar', edit_libro_path(libro) %></td>
        <td><%= link_to 'Eliminar', libro, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Atrás', welcome_index_path %>
