<p id="notice"><%= notice %></p>

<p class="nombre">
  <strong>Título:</strong>
  <%= @libro.nombre %>
</p>

<p class="normal">
  <strong>Isbn:</strong>
  <%= @libro.isbn %>
</p>

<p class="normal">
  <strong>Editorial:</strong>
  <%= @libro.editorial %>
</p>

<p class="normal">
  <strong>Autor:</strong>
  <%= @libro.autor.nombre %>
</p>

<%= link_to 'Editar', edit_libro_path(@libro) %> |
<%= link_to 'Atrás', libros_path %>
