// Place all the styles related to the libros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    color: black;
    text-align: center;
    font-size: 10px;

}
