// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    color: black;
    text-align: center;
    font-size: 50px;

}

h3 {
    text-align: left;
    font-size: 20px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    background-color: #666;
    font-weight: bold;
}

body{
//  background-color: rgba(9, 16, 20, 0.1);
//  background-color: rgba(16, 16, 20, 0.4);
}
th{

  background-color: #5B92A5;
}


table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
}

nav{
   background-color: rgba(9, 16, 20, 0.1);
   height: 100%;
}

p.nombre {
//  text-align: center;
  font-size: 30px;
}

p.normal {
//  text-align: center;
  font-size: 15px;
}
