<!DOCTYPE html>
<html>
<head>
  <title>Libreria</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <h1>Librería</h1>
</head>
<body>

    <ul>
      <li><a class="active" href="..\welcome/index">Home</a></li>
      <li><a href="..\libros">Libros</a></li>
      <li><a href="..\autors">Autores</a></li>

    </ul>

<%= yield %>

</body>
</html>
